-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Lato:400,700%7COpen+Sans:400,600,700%7CSource+Code+Pro:300,400,500,600,700,900%7CNothing+You+Could+Do%7CPoppins:400,500",
		logo = {
			default: 'logo-default-324x112.png',
			name: 'DJ Mix'
		},
		colors = {
			primary: '#4ac4cf'
		},
		menu = [
			{
				title: 'Home',
				link: '#home'
			},
			{
				title: 'Events',
				link: '#events'
			},
			{
				title: 'Videos',
				link: '#videos'
			},
			{
				title: 'Bio',
				link: '#bio'
			},
			{
				title: 'News',
				link: '#news'
			},
			{
				title: 'Contacts',
				link: '#contacts'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home'
